.toc {
    color: #4078c0;
    text-decoration: none;
    ul {  
      list-style-type: none;
    }

    border: $article-toc-border;
    @include border-radius($border-radius-sm);
}

.toc::before {
    content: "Table Of Content";
    font-size: 0.6rem;
    font-style: italic;
    color: gray;
    border-bottom: $article-toc-border;
}

.article-header {
    a {
        color: rgb(51, 51, 51);
    }

    a:hover {
        text-decoration: none;
    }
}

.article-excerpt {
    color: rgb(123, 125, 131);
}

.article-more {
    a {
        color: rgb(0,100,0);
        font-weight: bolder;
    }
    a:hover {
        text-decoration: none;
    }
}

.article-panel {
    @include transition(all 0.5s ease-in-out);
    background-color: $article-background;
    @include border-radius($border-radius);
    padding: 0.05rem;
    width: 100%;
    margin: 0.6rem 0 0.6rem 0;

    .article-panel-inner {
        border: $article-inner-border;
        background-color: $article-background;
        @include border-radius($border-radius);
        margin: 0.2rem 0.15rem 0.15rem 0.15rem;
        padding: 0.8rem;

        ul, ol {
            margin-left: 2rem;
        }

        .article-panel-footer{
            background: #ccc;
            border: $article-footer-border;
            @include border-radius($border-radius-sm);
            @include box-shadow(inset 0.05em 0.05em 0.25em rgb(72,72,72));
            font-size: 0.8rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            overflow: hidden;
            padding: 0.15rem 0.4rem;
            text-shadow: 0 0 0.05rem #000;
            text-align: right;

            a {
                color: #000;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

    .article-nav {
        font-size: 0.8rem;
    }
}

#article-nav {
    ul {
        margin: 0;
    }
}

.article-meta {
    ul, ol {
        margin-left: 0 !important;
        list-style: none;
    }
    li {
        display: inline-block;
    }

    li:not(:first-child) {
        ::before {
            content: " / "
        }
    }

    margin: 0 0 1rem 0;
}

.article-meta-left {
    float: left;
}

.article-meta-right {
    float: right;
    font-style: italic;
    a {
        color: rgb(64,128,255);
    }
}