#footer {
    border-top: 2px solid #000;
    font-size: 0.8rem;
    background: #222;

    .outer {
        .inner {
            background: #222;
            margin: 0.25rem 0 0.25rem 0;
            border: 0.05rem solid #000;
            @include border-radius($border-radius);
            @include box-shadow(0 0 0.4rem rgb(0,0,0));
            color: rgb(255,255,255);
            padding: 0 2rem;
            overflow: hidden;
        }
    }
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
    font-style: italic;
    a {
        color: rgb(64,128,255);
    }
}

#footer-clearfix {
    @include clearfix;
}