#header {
    border-bottom: 2px solid #000;
    padding: 2rem 0.5rem 0.2rem 0.5rem;
    background-color: rgb(51,51,51);
}

#site-title {
    font-size: 4rem;
    @media (max-width: 432px) {
        font-size: 3rem;
    }

    line-height: 100%;
    text-align: center;
    font-weight: bold;
    a {
        color: $title-color;
        text-decoration: none;
        text-shadow: $title-shadow;
    }

    @media (min-width: 720px) {
        a::before {
            content: url(images/lt-flurl.png);
            display: inline-block;
        }

        a::after {
            content: url(images/rt-flurl.png);
            display: inline-block;
        }
    }
}

#site-description {
    font-size: 2rem;
    @media (max-width: 432px) {
        @media (min-width: 375px) {
            font-size: 1.6rem;
        }
        @media (max-width: 375px) {
            font-size: 1.2rem;
        }
    }
    color: $description-color;
    display: block;
    @include clearfix();
    font-weight: bold;
    text-align: center;
    text-shadow: $title-shadow;
    line-height: 100%;
}

#main-nav-brand {
    color: #222;
}