{{ if or .PrevPage .NextPage }}
<hr />
<nav id="article-nav">
  <ul class="pagination">
  {{ if .NextPage }}
    <li class="page-item">
      <a class="page-link" id="article-nav-newer" class="article-nav-link-wrap" href='{{ .NextPage.Permalink }}'>
        {{ i18n "older" }}<strong>{{ .NextPage.Title }}</strong>
      </a>
    </li>
  {{ end }}
  {{ if .PrevPage }}
    <li class="page-item">
      <a class="page-link" id="article-nav-older" class="article-nav-link-wrap" href='{{ .PrevPage.Permalink }}'>
        {{ i18n "newer" }}<strong>{{ .PrevPage.Title }}</strong>
      </a>
    </li>
  {{ end }}
  </ul>
</nav>
{{ end }}