{{ define "main-content" }}
<article id="{{ .Type }}-{{ .UniqueID }}" class="article-panel article article-type-{{ .Type }}" itemscope itemprop="404">
  <div class="article-panel-inner article-inner">
    <div class="article-inner">
      <div class="article-entry" itemprop="articleBody">
        <br /><br /><br />
        <div class="error-404">
            <p><span>4</span><span>0</span><span>4</span></p>
            <p>Page Not Found (´･ω･`)</p>
        </div>
        <br /><br />
        <p class="text-center">Apologies, but the page you requested could not be found. Perhaps searching will help.</p>
      </div>
    </div>
  </div>
</article>
{{ end }}